version: '3.5'

services:
  java-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: java-api:latest
    container_name: java-api
    environment:
      - "SPRING_PROFILES_ACTIVE=prd"
    depends_on:
      - my-sql
    ports:
      - 81:8080
    links:
      - my-sql

  my-sql:
    image: mysql:8.0
    container_name: my-sql
    environment:
      - MYSQL_DATABASE=prd_employee
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_TCP_PORT=3307
    ports:
     - 3307:3307

      

